<p>
    In order to increase the transparency of data created by municipalities, we have created, in collaboration with Vinnova,
    a platform for open data in the form of diarium and vendor invoices.
    The client is published here in the form of open source code which create conditions to adapt the APIs to local requirements and the possibility for
    innovators to create new types of transparency App:s on this type of information.
</p>

<p>This web site shows how to display data from an OData Service. The application features listing, sorting and filtering data from an OData API.</p>
<p>We are using the jQuery DataTables library together with the Odata connector 
    to accomplish this. Twitter Bootstrap is used for simplifying the styling of the page.</p>

<h4>List of external libraries used:</h4>
<ul>
    <li>
        <div>jQuery DataTables</div>
        <div><a href="http://www.datatables.net">http://www.datatables.net</a>/</div>
    </li>
    <li>
        <div>jQuery DataTables OData connector</div>
        <div>
            <a href="http://vpllan.github.io/jQuery.dataTables.oData/">http://vpllan.github.io/jQuery.dataTables.oData/</a>
        </div>
    </li>
  
    <li>
        <div>Twitter Bootstrap</div>
        <div>
            <a href="http://getbootstrap.com/">http://getbootstrap.com/</a>
        </div>
    </li>
    <li>
        <div>jQuery</div>
        <div><a href="http://jquery.com/">http://jquery.com/</a></div>
    </li>
   
</ul>

<p>
    <a href="https://github.com/SoftronicCloudPartner/EF1.OpenDataClient">View this project on GitHub</a>
</p>