<p>This web site shows how to display data from an OData Service. The application features listing (with pagination), sorting and searching data from an OData API.</p>
<p>We are using the jQuery DataTables library together with the Odata connector 
    to accomplish this. Twitter Bootstrap is used for simplifying the styling of the page.</p>

<h4>List of external libraries used:</h4>
<ul>
    <li>
        <div>jQuery DataTables</div>
        <div><a href="http://www.datatables.net">http://www.datatables.net</a>/</div>
    </li>
    <li>
        <div>jQuery DataTables OData connector</div>
        <div>
            <a href="http://vpllan.github.io/jQuery.dataTables.oData/">http://vpllan.github.io/jQuery.dataTables.oData/</a>
        </div>
    </li>
  
    <li>
        <div>Twitter Bootstrap</div>
        <div>
            <a href="http://getbootstrap.com/">http://getbootstrap.com/</a>
        </div>
    </li>
    <li>
        <div>jQuery</div>
        <div><a href="http://jquery.com/">http://jquery.com/</a></div>
    </li>
   
</ul>
